@media (max-width: 568px) {
    /*header*/

    header {
        align-items: start;
        min-height: 6rem;
    }

    .logo {
        width: auto;
        height: 3rem;
        align-items: center;
    }

    nav ul {
        margin: 0;

        li {
            list-style: none;
            text-align: left;
            margin: 0 2px;
        }
    }

    a {
        font-size: .625rem;
    }

    /* Inicio*/

    .section-principal h1 {
        font-size: 1rem;
        font-weight: bold;
    }

    /*Sucursales*/

    .contenedor-sucursales p {
        font-size: 0.75rem;
    }

    .conoce-sucursales {
        font-size: .875rem;
    }

    /*Destinos*/

    .Descripcion {
        font-size: 1rem;
    }

    .Parrafo-paqueteturistico,
    .Parrafo-guias {
        font-size: .875rem;
    }

    /*Footer*/

    .parrafo-footer {
        font-size: 0.75rem;
        margin: 2px;
    }

    .parrafo-footer-derechos {
        font-size: .75rem;
    }

    /*Contacto*/

.form-contacto{
    width: 90vw;
}
}